
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  
}
.boardrow{
  display: flex;
  justify-content: center;
  align-items: center;
}
.status{
  margin: 10px;
  font-size: 50px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
.square{
  height: 140px;
  width: 140px;
  border-radius: 8px;
  border: 1px solid black;
  background-color: #FFB200;
  color: #EB5B00;
  font-size: 60px;
  font-weight: 700;
  cursor: pointer;
}